.LoginCard {
    background-color: #ffffff;
    padding: 20px 10px 40px 10px;
    border-radius: 10px;
}
.MainBGSignup{
    height: 100%;
    padding: 4%;
    width: 100%;
    overflow: hidden;
}

.MainBGSignin{
    height: 100%;
    padding: 5%;
    padding-bottom: 16%;
    width: 100%;
    overflow: hidden;
}